*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100%;
	display: flex;
	justify-content: center;
}

html{
	height: 100%;
}

#keyboard{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90%;
	width: 80%;
}

.tiles{
	height: 100px;
	width: 100px;
	background-color: rgb(255,165,1,0.5);
    border: solid orange 1px;
    transition: all 0.3s;
}

.tiles:hover{
    background-color: rgb(255,165,1,0.8);
    transform: scale(1.3);
}

.flexicenter{
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
  background-image: url("https://wallpapercave.com/wp/Mk0PRDm.jpg");
    background-size: cover;
}
